<div class="loginpage">
    <div class="logocontainer">
        <img src="assets\Logo.png" alt="logo">
    </div>
    <div class="logoheader">
        <h1>Welcome to MyDiary</h1>
    </div>
    <div class="loginformcontainer">
        <form class="registerform" (ngSubmit)="login()">
           
            <div class="input-div">
                <input type="text" name="username" [(ngModel)]="usermodel.username"  required class="custom-input" placeholder="UserName">
            </div>
            <div class="input-div">
                <input type="password" name="password" [(ngModel)]="usermodel.password"  required class="custom-input" placeholder="Password">
            </div>
            <div>
                <button type="submit" class="submit-button">Login</button>
            </div>
        </form>
        <br>
       <h3 (click)="registerpage()">New to MyDiary!</h3>
    </div>
</div>
<ngx-spinner bdColor="rgba(7,1,1,0.85)" size="small" type="pacman">
    <p style="color: white">Logging In </p>
</ngx-spinner>