/* You can add global styles to this file, and also import other style files */
body{
    background-color: #312D2D;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.usernote{
  justify-content: center;
  margin: 20px;
  text-align: center;
  padding: 60px;
}

.success-toast {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .error-toast {
    background-color: #f44336; /* Red */
    color: white;
  }
