<div class="passwordreset">
    <div class="logocontainer">
        <img src="assets\Logo.png" alt="logo">
    </div>
    <div class="logoheader">
        <h1>Reset Password</h1>
    </div>
    <div class="reset-form">
        <form class="resetform" (ngSubmit)="resetpassword()" >
            <div class="input-div">
                <input type="text" name="username" [(ngModel)]="resetmodel.username"   required class="custom-input" placeholder="UserName">
            </div>
            <div class="input-div">
                <input type="password" name="email" [(ngModel)]="resetmodel.email"  required class="custom-input" placeholder="Email">
            </div>
            <div class="submitdiv">
                <button type="submit" class="submit-button">Login</button>
            </div>
            <br>
        </form>
    </div>
</div>
<ngx-spinner bdColor="rgba(7,1,1,0.85)" size="small" type="pacman">
    <p style="color: white">Resetting </p>
</ngx-spinner>